@charset "UTF-8";
@import url("../webfonts/antonio_regular/stylesheet.css");
@font-face{ 
	font-family: 'MyWebFont';
	src: url('WebFont.eot');
	src: url('WebFont.eot?#iefix') format('embedded-opentype'),
	     url('WebFont.woff') format('woff'),
	     url('WebFont.ttf') format('truetype'),
	     url('WebFont.svg#webfont') format('svg');
}/* CSS Document */

.pedrofont {
	font-family: "antonio regular";
}
